fr * {
    padding: 0;
    margin: 0;
}
html {
    overflow-y: scroll;
}
body {
    font-family: 'Exo', sans-serif;
    font-size: 16px;
    padding: 0 5px 20px 5px;
    background: #151321;
}

@media only screen and (max-device-width: 480px) {
.minus18 {
    margin-top: -0px;
}
.minus9 {
    margin-top: -10px;
}
.uni {
    font-size: 8pt!important;
}
    .gb-330 {
        width:300px!important;
        text-align: center;
    }

}

@media only screen and (max-width: 599px) {
body {
    font-size: 12px;
}
#flair-filter {
    flex-direction: column;
}
#flair-filter label[for=flair-filter-sheet] {
    margin-top: 4px;
}
.uni {
    font-size: 8pt!important;
    line-height: 17pt;
}
}

@media only screen and (max-device-width: 599px) {
.btn5 {
    display: inline-block;
    margin-left: 4px;
    padding: 2px 8px 2px;
    background: #26224c;
    border: 1px solid #aa8ed8;
    border-radius: 0px;
    color: #fff;
    font-family: 'Exo', sans-serif;
    font-weight: 800;
    text-transform: capitalize;
    text-align: left;
    line-height: 21px;
    outline: 0;
    cursor: pointer;
}
.btn5:hover {
    background: #26224c;
    border: 1px solid #aa8ed8;
}
.btn5.active {
    box-shadow: inset 0 2px 4px rgba(0, 0, 0, .2);
    background: #26224c
}
}

@media only screen and (min-device-width: 600px) {
.btn5 {
    display: none;
    margin-left: 4px;
    padding: 2px 8px 2px;
    background: #26224c;
    border: 1px solid #aa8ed8;
    border-radius: 0px;
    color: #fff;
    font-family: 'Exo', sans-serif;
    font-weight: 800;
    text-transform: capitalize;
    text-align: left;
    line-height: 21px;
    outline: 0;
    cursor: pointer;
}
}

@media only screen and (min-width:600px) {
body {
    font-size: 16px;
}
}
.uni {
    font-size: 13px;
    padding-bottom: 10px;
}
ul {
    margin-left: 15px;
}
a {
    color: #69a601
}
.fl {
    text-align: center;
}
.fr {
    float: right;
}
.clearfix:before, .clearfix:after, .cf:before, .cf:after {
    content: "";
    display: table;
}
.clearfix:after, .cf:after {
    clear: both;
}
.clearfix, .cf {
    zoom: 1;
}
.hide {
    display: none !important;
}
.wrapper {
    width: 100%;
    max-width: 845px;
    display: block;
    position: relative;
    margin: 0 auto;
    margin-top: 20px;
    box-sizing: border-box;
}
.wrapper:not(.no-style) {
    padding: 10px;
    border-radius: 0px;
    box-shadow: 0 0 0 1px #1a213e, inset 0 0 0 1px #1a213e;
    background: #0e1320;
    color: white;
}
.wrapper.no-margin {
    margin-top: 0;
}
.wrapper.no-pad, .wrapper.no-pad:not(.no-style) {
    padding: 0;
}
.spacer {
    margin: 5px 0;
}
select, input[type=text], input[type=number] {
    border: 1px solid #495672;
    background: white;
    padding: 3px 4px;
    border-radius: 0px;
}
.center {
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: center;
    align-items: center;
    -webkit-justify-content: center;
    justify-content: center;
}
.left {
    display: -webkit-block;
    display: block;
}
label {
    display: -webkit-inline-flex;
    display: inline-flex;
    -webkit-align-items: center;
    align-items: center;
}
label input[type=checkbox] + span {
    margin-left: 5px;
}
#subreddit-selection {
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
}
#subreddit-selection .sr-sep {
    display: inline-block;
    margin: 0 10px;
    color: rgba(0,0,0,0.2);
    font-size: 14px;
    line-height: 14px;
    height: 14px;
}
#flair-filter {
    margin-bottom: 10px;
    padding: 0 30px 0 10px;
}
#flair-filter-text {
    min-width: 220px;
    padding: 5px 10px;
}
#flair-filter label[for=flair-filter-sheet] {
    display: -webkit-inline-flex;
    display: inline-flex;
    -webkit-align-items: center;
    align-items: center;
}
#flair-filter label[for=flair-filter-sheet] span {
    font-size: 13px;
    margin-right: 5px;
    color: rgba(0,0,0,0.5);
}
/* HELP STUFF
--------------------------------------------------------------------------------*/
#help-link {
    display: inline-block;
    font-size: 12px;
    margin-bottom: 5px;
    text-decoration: none;
}
#help-link:hover {
    text-decoration: underline;
}
#help-bubble.hide + .wrapper {
    margin-top: 0;
}
#help-bubble {
    font-size: 13px;
}
#help-bubble p {
    margin: 0.5em 0;
}
/* BUTTON
--------------------------------------------------------------------------------*/
button, input[type=submit] {
    display: inline-block;
    margin: 0;
    padding: 2px 8px 1px;
    background: linear-gradient(to bottom, #19243a, #5a7db5);
    border: 1px solid #495672;
    border-radius: 0px;
    color: #fff;
    font-family: 'Exo', sans-serif;
    font-weight: 800;
    text-transform: capitalize;
    line-height: 21px;
    outline: 0;
    cursor: pointer;
}
button:hover, input[type=submit]:hover {
    background: #8456b1
}
/* FLAIRS
--------------------------------------------------------------------------------*/

.flair {
    display: -webkit-inline-flex;
    display: inline-flex;
    -webkit-align-items: center;
    align-items: center;
    -webkit-justify-content: center;
    justify-content: center;
    width: 30px;
    height: 30px;
    cursor: pointer;
    margin: 6px 5.7px !important;
    position: relative;
    border: 1px solid #363a41;
    display: none;
}
.flair1 {
    display: -webkit-inline-flex;
    display: inline-flex;
    -webkit-align-items: center;
    align-items: center;
    -webkit-justify-content: center;
    justify-content: center;
    width: 100px;
    height: 100px;
    cursor: pointer;
    margin: 6px 5.7px !important;
    position: relative;
    border: 1px solid #363a41;
}
.flair1:not([class*='flair-']) {
    background: rgba(132,86,177,0.2);
    border-radius: 0px;
    display: inline-flex;
}
.flair1:not([class*='flair-']):before {
    content: '?';
    color: white;
    display: inline-flex;
}
.flair:hover, .flair.selected, .flair.flair-tf:hover, .flair.flair-tf.selected {
    background-color: #8456b1;
    border-radius: 0px;
    border: 1px solid #f9d02c;
}
.flair {
    background-color: transparent
}
.show.type {
    display: -webkit-inline-flex;
    display: inline-flex;
    -webkit-align-items: center;
    align-items: center;
    -webkit-justify-content: center;
    justify-content: center;
    width: 30px;
    height: 30px;
    cursor: pointer;
    margin: 6px 5.7px !important;
    position: relative;
    border: 1px solid #363a41;
}
.container {
    margin-top: 20px;
    overflow: hidden;
}
/* Style the buttons */

.btn {
    display: inline-block;
    vertical-align: middle;
    margin: 0;
    padding: 2px 8px 2px;
    background: linear-gradient(to bottom, #19243a, #5a7db5);
    border: 1px solid #495672;
    border-radius: 0px;
    color: #fff;
    font-family: 'Exo', sans-serif;
    font-weight: 800;
    text-transform: capitalize;
    line-height: 21px;
    outline: 0;
    cursor: pointer;
}
.btn1 {
    display: inline-block;
    vertical-align: middle;
    margin: 0;
    padding: 2px 8px 2px;
    background: linear-gradient(to bottom, #003366, #33cccc);
    border: 1px solid #495672;
    border-radius: 0px;
    color: #fff;
    font-family: 'Exo', sans-serif;
    font-weight: 800;
    text-transform: capitalize;
    line-height: 21px;
    outline: 0;
    cursor: pointer;
}
.btn:hover {
    background: #8456b1
}
.btn2 {
    display: inline-block;
    margin: 0px;
    padding: 2px 8px 2px;
    width: 110px!important;
    background: #070708;
    border: 1px solid #25282c;
    border-radius: 0px;
    color: #fff;
    font-family: 'Exo', sans-serif;
    font-weight: 800;
    text-transform: capitalize;
    text-align: left;
    line-height: 21px;
    outline: 0;
    cursor: pointer;
}
.btn2:hover {
    background: #070708;
    border: 1px solid #f1d455;
}
.btn3 {
    display: inline-block;
    margin: 0;
    padding: 2px 8px 2px;
    width: 110px!important;
    background: #26224c;
    border: 1px solid #aa8ed8;
    border-radius: 0px;
    color: #fff;
    font-family: 'Exo', sans-serif;
    font-weight: 800;
    text-transform: capitalize;
    text-align: left;
    line-height: 21px;
    outline: 0;
    cursor: pointer;
}
.btn3:hover {
    background: #070708;
    border: 1px solid #f1d455;
}
.btn4 {
    display: inline-block;
    margin: 0;
    padding: 2px 8px 2px;
    width: 110px!important;
    background: #26224c;
    border: 1px solid #aa8ed8;
    border-radius: 0px;
    color: #fff;
    font-family: 'Exo', sans-serif;
    font-weight: 800;
    text-transform: capitalize;
    text-align: left;
    line-height: 21px;
    outline: 0;
    cursor: pointer;
}
.btn4:hover {
    background: #070708;
    border: 1px solid #f1d455;
}
.active {
    box-shadow: inset 0 2px 4px rgba(0, 0, 0, .2);
    background: #8456b1
}
[class*='gb-'] {
}
[class*='gb-']:last-of-type {
    padding-right: 6px;
}
/* class gb -- grid box */
.gb-100 {
    padding: 3px;
    float: left;
    width: 100px;
    margin-right: 8px;
}
.gb-330 {
    padding: 3px;
    float: left;
    margin-top: 14px;
    margin-left: 7px;
}

.gb-300 {
    padding: 3px;
    float: right;
    width: 300px;
    margin-top: 2px;
    margin-right: 8px;
}


.dropdown {
    position: relative;
    display: block;
}
.dropdown-content {
    display: none;
    position: absolute;
    top: 0px;
    z-index: 1;
}
.dropdown:hover .dropdown-content {
    display: block;
    width: 10px!important;
}
.dropdown:hover .btn3 {
    background: #070708;
    border: 1px solid #25282c;
}
.dropdown1 {
    position: relative;
    display: block;
}
.dropdown1-content {
    display: none;
    position: absolute;
    top: 0px;
    z-index: 1;
}
.dropdown1:hover .dropdown1-content {
    display: block;
    width: 10px!important;
}
.dropdown1:hover .btn3 {
    background: #070708;
    border: 1px solid #25282c;
}
